{% extends 'base.html' %}

<!-- index wrapper -->
{% block content %}
<div class="row">
  <div class="col col-md-12">
    <div class="hero">
      {% if request.user.is_authenticated %}
      <p class="">Hello {{ request.user }}, Home is where the heart is</p>
      {% endif %}
    </div>
    <div class="posts justify-content-center">
      {% for post in posts %}
      <div class="card w-50 mb-3">
        <div class="card-header">
          <h2>hey {{ post.user}}.</h2>
          <small>{{ post.pub_date|timesince }} ago</small>
        </div>
        <img src="{{ post.image_file.url }}" alt="{{ post.image_name }}" />
        <div class="card-body">
          <input
            type="checkbox"
            class="checkbox_item"
            value=""
            name="item"
            id="radio2"
          />
          <label class="label_item" for="radio2">
            <i class="fa-regular fa-heart"></i>
          </label>
          <br />
          <p class="badge">{{ post.user }}</p>
          <span>{{ post.image_caption|truncatechars:15 }}</span>
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
<!-- index wrapper end-->
