{% extends 'base.html' %}

<!-- login form -->
{% block content %}
<div class="cont">
  <div class="w-25 mx-auto mt-5 bg-info p-3 rounded">
    <h3>Login</h3>
    <form action="" method="POST">
      {% csrf_token %}
      <div class="form-group">
        <input type="text" placeholder="Username" class="form-control" />
      </div>
      <div class="form-group">
        <input type="password" placeholder="Password" class="form-control" />
      </div>
      <div>
        <input type="submit" class="btn btn-outline-primary btn-sm" />
      </div>
    </form>
    <p class="text-muted">
      Don't have an account? <a href="{% url 'igapp:register' %}">Sign Up</a>
    </p>
  </div>
</div>
{% endblock %}
