{% extends 'base.html' %}

<!-- user profile page -->
{% block content %}
<div class="row">
  <div class="col col-md-8 mx-auto">
    <div class="user-profile">
      <div class="row user-profile_header bg-warning p-3">
        <div class="col-3 user-profile__img bg-primary">
          <img src="{{ user.profile_pic.url }}" alt="user avatar" />
        </div>
        <div class="col">
          <p class="user-profile__username">
            <strong>{{user.username}}</strong>
          </p>
          <small class="user-profile__email">{{ user.email }}</small>

          {% if user.id == request.user.id %}
          <button
            type="button"
            class="btn btn-outline-secondary btn-sm"
            data-toggle="modal"
            data-target="#profileUpdate"
          >
            edit profile
          </button>
          {% else %}
          <input
            type="submit"
            class="btn btn-outline-success btn-sm"
            value="follow"
          />
          {% endif %}
          <p class="user-profile__bio">{{user.bio}}</p>
        </div>
      </div>
    </div>
    <hr />
    <!-- all user posts   -->
    <div class="row mt-4 bg-info user-posts">
      {% for post in posts %} {% if post.user.id == user.id %}
      <div class="col col-md-4 p-2">
        <div class="card" style="width: 15rem">
          <img src="{{ post.image_file.url }}" class="img-fluid" />
          {% else %}
          <p>No posts available.</p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- all user posts end -->
  </div>
</div>

<!-- profile edit modal -->
<div
  class="modal fade"
  id="profileUpdate"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="exampleModalCenterTitle">
          Update Profile
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- ! use ajax to process this. -->
        <form
          action="{% url 'igapp:profile' user.id %}"
          method="POST"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="input-group mb-2">{{ form.profile_pic }}</div>
          <div class="input-group mb-2">{{ form.bio }}</div>
          <div class="modal-footer">
            <input
              type="submit"
              class="btn btn-success btn-sm"
              name="profile_update"
              id=""
              value="update"
            />
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- profile edit modal end -->
</div>
{% endblock %}
