/* landig page view*/
body {
  background-color: #fafafa;
}

/* post like btn */
.checkbox_item {
  display: none !important;
}

.label_item {
  opacity: 0.7;
  font-size: 1.4em;
}

.checkbox_item:checked + label {
  opacity: 2;
}

label {
  cursor: pointer;
}
/* post like btn end */

/* post card section */
.post_card {
  background-color: #ffffff;
}

.post_card .card-header {
  background-color: #ffffff;
}
.post_author a {
  color: #000;
}
.post_author {
  font-size: 0.9em;
  font-weight: bold;
}

.post-card__details {
  line-height: 0.7em;
}
/* post card section end */
/* landig page view*/
