{% load bootstrap4 %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if title %}
    <title>IgLive |{{title}}</title>
    {% else %}
    <title>IgLive</title>
    {% endif %}

    <!-- static file links -->
    {% block styles %} {% bootstrap_css %}

    <link rel="stylesheet" type="text/css" href="3" />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/css/mdb.min.css"
      rel="stylesheet"
    />
    {% endblock %}
    <!-- end static links -->
  </head>
  <body>
    {% include 'ig_app/navbar.html' %}
    <div class="container mt-3">
      {% block content %}
      <!-- home content -->
      {%endblock%}
    </div>

    {% block scripts %}
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    {% bootstrap_javascript %}
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.5.15/js/mdb.min.js"
    ></script>
    {% endblock %}
  </body>
</html>
